.weather {
    text-align: center;
    button {
        border: none;
        color: inherit;
        background-color: lightseagreen;
        border-radius: 10px;
        padding: 5px;
        &:hover {
            background-color: rgb(20, 140, 134);
        }
    }
    form {
        height: 30px;
        margin-bottom: 10px;
        input[type=search] {
            padding: 5px;
            width: 35%;
            height: inherit;
            border-radius: 10px;
            border: 1px solid;
        }
        button {
            margin-inline-start: 5px;
            height: inherit;
        }
    }
    .searchData {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 50%;
        gap: 5px;
        margin: 0 auto 10px;
    }
    .city {
        display: flex;
        color: inherit;
        gap: 5px;
        width: 90%;
        padding: 10px;
        margin: 0 auto 50px;
        .cityInfo {
            flex: 1;
            text-align: start;
            display: grid;
            grid: auto / auto auto;
            justify-content: start;
            gap: 10px;
        }
    }
    .days {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto 20px;
        gap: 10px;
        .day {
            border: 1px solid;
            width: 220px;
            height: 100px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

@media (max-width: 640px) {
    .weather {
        form {
            input[type=search] {
                width: 50%;
            }
        }
        .searchData {
            width: 80%;
        }
        .city {
            flex-direction: column;
            align-items: start;
        }
        .days {
            flex-direction: column;
            align-items: center;
        }
    }
}