* {
    box-sizing: border-box;
}

body,
p {
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.darkMode {
    color: white;
    background-color: rgb(35, 34, 34);
}