.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    font-size: 20px;
    font-weight: 600;
    .title {
        margin: 0;
        font-size: inherit;
    }
    a {
        color: inherit;
        padding: 10px;
        &.active {
            background-color: lightseagreen;
            border-radius: 5px;
        }
    }
    button {
        font-size: inherit;
        font: inherit;
        font-weight: 600;
        padding: 10px;
        border: none;
        color: inherit;
        background-color: inherit;
    }
}

@media (max-width: 520px) {
    .navBar {
        font-size: 14px;
        a,
        button {
            padding: 5px;
        }
    }
}